.planet {
    position: absolute;
    display: flex;
    justify-content: center;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    &-icon {
        pointer-events: auto;
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
        position: absolute;
        will-change: transform, opacity;
        bottom: 24%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        transform-origin: center;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);

            & + .planet-label {
                opacity: 1;
                transform: translate(0, -20%);
            }
        }
    }

    &-label {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
        pointer-events: none;
        // opacity: 0;
        word-wrap: break-word;
        background-origin: border-box;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        will-change: transform;

        
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 90%;
        height: 58%;
        top: -40%;
        margin-left: 20%;
        margin-right: 20%;

        // justify-content: space-between;

    }
    
    .one {
        width: 120%;
        aspect-ratio: 5;
        background-image: url("/assets/labels/name_planet.png");
    }

    .two {
        width: 120%;
        aspect-ratio: 3.7;
        background-image: url("/assets/labels/label_planet_double.png");
    }
}

