.marquee {
            width: 75vw;
  overflow: hidden;          // Скрываем выходящий за пределы текст
  height: 40%;              // Высота компонента (можно изменить)
  display: flex;
  align-items: center;  
  pointer-events: auto;
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;     // Вертикальное центрирование текста
}

.track {
  display: flex;
  width: max-content;        // Ширина по содержимому
  animation: scrollLeft 100s linear infinite;
}

.text {
  white-space: nowrap;       // Запрещаем перенос текста
  padding-right: 50px;       // Отступ между повторениями текста
  font-size: 1.5vw;
  color: rgb(196, 234, 84);
}

/* Анимация сдвига текста слева направо */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media(min-aspect-ratio: 567/349) {
  .marquee {
            width: 128vh;
            font-size: 1wh;
  }
}
@media(max-aspect-ratio:1.3/1){
  .marquee {
            width: 82vw;
  }
}